! special
*.foreground:   #8567e6
*.background:   #07001d
*.cursorColor:  #8567e6

! black
*.color0:       #07001d
*.color8:       #45396b

! red
*.color1:       #db2d20
*.color9:       #f81c0c

! green
*.color2:       #eb3e79
*.color10:      #ea1d63

! yellow
*.color3:       #af35c7
*.color11:      #be14f1

! blue
*.color4:       #3db9cd
*.color12:      #2d8bd6

! magenta
*.color5:       #e51893
*.color13:      #f401aa

! cyan
*.color6:       #8929d4
*.color14:      #7515ec

! white
*.color7:       #dd2eb6
*.color15:      #e11877

